@import './styles/fonts.css';
@import '../../node_modules/material-icons/iconfont/material-icons.css';
@import '../../node_modules/@material/ripple/dist/mdc.ripple.min.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex';
}

body, html {
  height: 100vh;
}